{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card" style="max-width: 90rem;">
        <div class="card-body">
            <table class="table table-borderless">
                <tr><th>
                    <img src="{{detail.image}}" class="card-img-top" style="width: 600px; height: 400px">
                </th>
                <th>
                    <div id="map" style="width: 600px; height: 400px"></div>
                </th></tr>
                <tr><td><h5 class="card-text">Адрес: {{detail.adress}}</h5></td></tr>
                <tr><td><h6 class="card-text">Город: {{detail.city}}</h6></td></tr>
                <tr><td><h6 class="card-text">Вид игры: {{detail.kind_sport}}</h6></td></tr>
                <tr><td><h6 class="card-text">Тип площадки: {{detail.type_pg}}</h6></td></tr>
                <tr><td><h6 class="card-text">Покрытие: {{detail.coating}} </h6></td></tr>
                <tr><td><h6 class="card-text">Средняя вместимость: {{detail.avrg_capacity}}</h6></td></tr>
                <tr><td><h6 class="card-text">Часы работы: </h6></td></tr>
                <tr><td><h6 class="card-text">Тут будет оценка</h6></td></tr>
                <tr><td><h6 class="card-text">Автор: {{detail.author}}</h6></td></tr>
                <tr><td><h6 class="card-text">Cоздали: {{detail.create_date}}</h6></td></tr>
                <tr><td><h6 class="card-text">Изменили: {{detail.edit_date}}</h6></td></tr>
                <tr><td>
                    <a href="{% url 'edit_pg' detail.adress %}" class="btn btn-warning">Редактировать</a>
                    <a href="{% url 'delete_pg' detail.adress %}" class="btn btn-danger">Удалить</a>
                </td></tr>
            </table>
        </div>
    </div>


    <div class="card mb-3" style="max-width: 90rem;">
        <div class="row g-3">
            <div class="col-md-4">кто планирует посетить
                </div>
            <div class="col-md-4">погода
                </div>
            <div class="col-md-4">календарь
                </div>
        </div>
    </div>


    <div class="card mb-3" style="max-width: 90rem;">
        <div class="card-body">
            <p>Описание</p>
            <p>{{detail.descr}}</p>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 90rem;">
        <div class="card-body">
            <p>Плоащдки в этом городе</p>
            <p>{{detail.descr}}</p>
        </div>
    </div>

</div>

{% endblock %}