{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card mb-3" style="max-width: 90rem;">
        <div class="row g-2">
            <div class="col-md-4">
                <img src="{{detail.image}}" class="card-img-top" style="width: 26rem;">
            </div>
            <div class="col-md-4">
                <p><h5>Адрес: {{detail.adress}}</h5>
                <h6>Город: {{detail.city}}</h6>
                <h6 class="card-text">Вид игры: {{detail.kind_sport}}</h6>
                <h6 class="card-text">Тип площадки: {{detail.type_pg}}</h6>
                <h6 class="card-text">Покрытие: {{detail.coating}} </h6>
                <h6 class="card-text">Средняя вместимость: {{detail.avrg_capacity}}</h6>
                <h6 class="card-text">Часы работы: </h6>
                <h6 class="card-text">Тут будет оценка</h6>
                <h6 class="card-text">Автор: {{detail.author}}</h6>
                <h6 class="card-text">Cоздали: {{detail.create_date}}</h6>
                <h6 class="card-text">Изменили: {{detail.edit_date}}</h6>
            </div>
            <div class="col-md-4">яндекс карта в этом блоке
            </div>
        </div>
    </div>

    <div class="card-body">
        <a href="{% url 'edit_pg' detail.id %}" class="btn btn-warning">Редактировать</a>
        <a href="{% url 'delete_pg' detail.id %}" class="btn btn-danger">Удалить</a>
    </div>

    <div class="card mb-3" style="max-width: 90rem;">
        <div class="row g-3">
            <div class="col-md-4">кто планирует посетить
                </div>
            <div class="col-md-4">погода
                </div>
            <div class="col-md-4">календарь
                </div>
        </div>
    </div>


    <div class="card mb-3" style="max-width: 90rem;">
        <div class="card-body">
            <p>Описание</p>
            <p>{{detail.descr}}</p>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 90rem;">
        <div class="card-body">
            <p>Плоащдки в этом городе</p>
            <p>{{detail.descr}}</p>
        </div>
    </div>

</div>

{% endblock %}