{% extends "places_app/base.html" %}
{% block content %}
    <h1>О проекте</h1>
    <hr>
    <p>Данный проект является дипломной работой курса по направлению «Создание web-приложений с использованием Python».</p>
    <p>При разработке данного проекта были использованы Python, Django Framework, СУБД (PostgreSQL), HTML/CSS, Bootstrap, API Яндекс.Карт, Telegram API.</p>
    <hr>
    <h2>Главная цель проекта?</h2>
    <p>Перед вами рекомендации и краткие сведения о спортивных площадках различных видов спорта.</p>
    <h2>Как добавить площадку?</h2>
    <p>Для добавления новой площадки просто перейдите по ссылке "Добавить площадку" и следуйте инструкциям.</p>


{% endblock content %}