{% extends "places_app/base.html" %}
{% block content %}
<div class="card mb-3" style="width: 75rem;">
    <div class="card-body">
        <h2>{{detaildiscuss.title}}</h2>
        <p><a>Дата создания: {{detaildiscuss.edit_date}}</a></p>
        <p>Автор темы: <a href="{% url 'user-profle' detaildiscuss.author.id %}">{{detaildiscuss.author}}</a></p>
        {% if detaildiscuss.author == user %}
            <a class="btn btn-outline-primary" href="{% url 'delete-discuss' detaildiscuss.id %}">Удалить</a></p>
        {% endif %}

        <hr>
        <p>{{detaildiscuss.text}}</p>
        <hr>
        <p><h3>Ответы пользователей:</h3></p>
        {% for comment in detaildiscuss.discusstext_set.all %}
        <p><a href="{% url 'user-profle' comment.author.id %}">{{comment.author}}</a></p>
        <p>{{comment.edit_date}}</p>
        <p>{{comment.text}}</p>
        <hr>
    {% endfor %}
    </div>
</div>
{% if user.is_authenticated %}
<div class="card mb-3" style="width: 75rem;">
    <div class="card-body">
        <form action="{% url 'add_text_discuss' detaildiscuss.id %}" method="post">
            {% csrf_token %}
            <div class="form-group editContent">
                <label for="contactcomment" class="editContent">
                    Оставить сообщение
                </label>
                <textarea class="form-control border" rows="2" name="text"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Отправить</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}